---
---

<section class="card" id="contact">
  <div class="section-head">
    <p class="label">Get in touch</p>
  </div>
  <h2>Get in touch.</h2>
  <div class="socials">
    <a href="mailto:dmrussell7@gmail.com">email</a>
    <a href="https://www.linkedin.com/in/heydavidr/">linkedin</a>
    <a href="https://x.com/heydavidr">x</a>
    <a href="https://github.com/HeyDavid">github</a>
  </div>
</section>
