---
---

<nav class="top">
  <div class="nav-inner">
    <a href="/" class="name" style="border:none;">
      <img src="/assets/wordmark-transparent.png?v=2" alt="David Russell." />
    </a>
    <ul>
      <li><a href="/writing/">writing</a></li>
      <li><a href="/#ventures">building</a></li>
      <li><a href="/#contact">get in touch</a></li>
    </ul>
  </div>
</nav>
